 <html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Sign In</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Sign in</h1>
        <p class="lead">You just need to click to discover a new world !</p>
        <p class="lead">
        	<%= link_to 'Nouveau user', '/users/new' %>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Created by <a href="https://github.com/Javibz">Javi</a>, <a href="https://github.com/SAMTHP">Samir</a>, <a href="https://github.com/VAJangoFett">Arthur</a>.</p>
        </div>
      </footer>
    </div>
  </body>
</html>