
<html>
<head>
	<title>
		Super Team !
	</title>
</head>
<body>

	<div class="row">
		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		    <h5 class="card-title">Javi</h5>
		    <p class="card-text">Passionné de pêche à la carpe, avec quelques sorties en pêche à la ligne.</p>
		    <a href="https://github.com/Javibz" class="btn btn-primary">Visit my github</a>
		  </div>
		</div>

		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		    <h5 class="card-title">Samir</h5>
		    <p class="card-text">Passionné en pétanque sportive et levée de coude pour fléchettes.</p>
		    <a href="https://github.com/SAMTHP" class="btn btn-primary">Visit my github</a>
		  </div>
		</div>

		<div class="card" style="width: 30rem;">
		  <div class="card-body">
		    <h5 class="card-title">Arthur</h5>
		    <p class="card-text">Issue de la grande table ronde Arthur se mêle à la populasse pour réaliser THP.</p>
		    <a href="https://github.com/VAJangoFett" class="btn btn-primary">Visit my github</a>
		  </div>
		</div>
	</div>
</body>
</html>